<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="Author" content="hemant.me"/>
        <title>Electoral - Log-in</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <!--     Fonts and icons     -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

        <!-- CSS Files -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/material-kit.css" rel="stylesheet"/>

        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="assets/css/demo.css" rel="stylesheet" />

    </head>

    <body style="background-color: #eee;">
        <div class="section">
            <div class="container">
                <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#">
                                <div class="logo">
                                    <img src="assets/img/logo.png" alt="Electoral Logo">
                                </div>
                            </a>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
            </div></div>









        <div class="wrapper" style="margin-top: -80px;">
            <div class="container">
                <div class="row">
                    <div class=" col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-nav-tabs card-signup">
                                    <div class="col-md-12">
                                        <div class="card-header" style="background-color: #56B6C3 !important;

                box-shadow: 0 14px 26px -12px rgba(86, 182, 195, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2) !important;"><i class="fa fa-users">
                                            </i><small class="card-header-text"> Civilian Registered</small></div>

                                        <div class="row">
                                            <div class="col-xs-6" style="border-right: 1px solid #ccc">
                                                <strong class="txtt">Total</strong>
                                                <br>
                                                <strong class="digit">96842</strong>
                                            </div>
                                            <div class="col-xs-6">
                                                <strong class="txtt">Today</strong>
                                                <br>
                                                <strong class="digit">120</strong>
                                            </div>
                                        </div>


                                        <hr>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-4">
                                <div class="card card-nav-tabs card-signup">
                                    <div class="col-md-12">
                                        <div class="card-header" style="background-color: #EC4D4A !important;
                
                box-shadow: 0 14px 26px -12px rgba(236, 77, 74, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2) !important;"><i class="fa fa-map-o">
                                            </i><small class="card-header-text"> Block Registered</small></div>

                                        <div class="row">
                                            <div class="col-xs-6" style="border-right: 1px solid #ccc">
                                                <strong class="txtt">Total</strong>
                                                <br>
                                                <strong class="digit">768</strong>
                                            </div>
                                            <div class="col-xs-6">
                                                <strong class="txtt">Today</strong>
                                                <br>
                                                <strong class="digit">20</strong>
                                            </div>
                                        </div>


                                        <hr>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="card card-nav-tabs card-signup">
                                    <div class="col-md-12">
                                        <div class="card-header" style="background-color: #FD9C17 !important;
                
                box-shadow: 0 14px 26px -12px rgba(253, 156, 23, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2) !important;"><i class="fa fa-home">
                                            </i><small class="card-header-text"> Village Registered</small></div>

                                        <div class="row">
                                            <div class="col-xs-6" style="border-right: 1px solid #ccc">
                                                <strong class="txtt">Total</strong>
                                                <br>
                                                <strong class="digit">2784</strong>
                                            </div>
                                            <div class="col-xs-6">
                                                <strong class="txtt">Today</strong>
                                                <br>
                                                <strong class="digit">42</strong>
                                            </div>
                                        </div>


                                        <hr>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-4">
                                <div class="card card-nav-tabs card-signup">
                                    <div class="col-md-12">
                                        <div class="card-header" style="background-color: #58B05C !important;
                
                box-shadow: 0 14px 26px -12px rgba(88, 176, 92, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2) !important;"><i class="fa fa-info-circle">
                                            </i><small class="card-header-text"> Applications Received</small></div>

                                        <div class="row">
                                            <div class="col-xs-6" style="border-right: 1px solid #ccc">
                                                <strong class="txtt">Total </strong>
                                                <br>
                                                <strong class="digit">84</strong>
                                            </div>
                                            <div class="col-xs-6">
                                                <strong class="txtt">Today </strong>
                                                <br>
                                                <strong class="digit">62</strong>
                                            </div>
                                        </div>


                                        <hr>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-4">
                                <div class="card card-nav-tabs card-signup">
                                    <div class="col-md-12">
                                        <div class="card-header" style="background-color: #068CD4 !important;
                
                box-shadow: 0 14px 26px -12px rgba(3, 169, 244, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2) !important;"><i class="fa fa-check-square-o">
                                            </i><small class="card-header-text"> Applications Resolved</small></div>

                                        <div class="row">
                                            <div class="col-xs-6" style="border-right: 1px solid #ccc">
                                                <strong class="txtt">Total </strong>
                                                <br>
                                                <strong class="digit">60</strong>
                                            </div>
                                            <div class="col-xs-6">
                                                <strong class="txtt">Today </strong>
                                                <br>
                                                <strong class="digit">32</strong>
                                            </div>
                                        </div>


                                        <hr>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-4">
                                <div class="card card-nav-tabs card-signup">
                                    <div class="col-md-12">
                                        <div class="card-header" style="background-color: #A844BA !important;
                
                box-shadow: 0 14px 26px -12px rgba(168, 68, 186, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2) !important;"><i class="fa fa-mars"></i>&nbsp;<i class="fa fa-venus"></i>
                                        <small class="card-header-text"> Gender</small></div>

                                        <div class="row">
                                            <div class="col-xs-6" style="border-right: 1px solid #ccc">
                                                <strong class="txtt">male</strong>
                                                <br>
                                                <strong class="digit">8024</strong>
                                            </div>
                                            <div class="col-xs-6">
                                                <strong class="txtt">Female</strong>
                                                <br>
                                                <strong class="digit">3482</strong>
                                            </div>
                                        </div>


                                        <hr>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                        </div>



                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="card card-nav-tabs card-signup" style="margin-top: 25px;">
                            <form class="form" method="" action="">
                                <!--
<div class="header header-info text-center">

<h4 style="font-weight: 500; ">Sign In</h4>

</div>
--><ul class="nav nav-pills nav-pills-rose ">
                                <li class="nav-item active" style="width: 50%; ">
                                    <a class="nav-link active show " href="#signinpage" data-toggle="tab" style="width: 100%; border-radius: 0px;">Sign-In</a>
                                </li>
                                <li class="nav-item" style="width: 50%; float: left; margin: 0px;">
                                    <a class="nav-link"  data-toggle="tab" style="width: 100%; border-radius: 0px;">Citizen Register</a>
                                </li>
                                </ul>
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active " id="signinpage">
                                        <div class="content" style="padding-left: 40px;">
                                            <div class="form-group label-floating">
                                                <label class="control-label">User Id</label>
                                                <input type="email" class="form-control">
                                            </div>

                                            <div class="form-group label-floating">

                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" >
                                            </div>

                                            <hr><h4 class="text-center" style="font-weight: 500; margin-top: -34px; margin-bottom: 0px; ">OR</h4>



                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" onchange="otpShow()" >
                                                            <strong>OTP</strong>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div id="otpbox" style="display: none;">
                                                    <div class="col-xs-6" >
                                                        <div class="form-group label-floating" style="margin-top: 10px;">
                                                            <label class="control-label">Enter OTP</label>
                                                            <input type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3" >
                                                        <a href="#" class="btn btn-simple btn-primary btn-xs pull-right" style="margin-top: 20px; margin-right: -15px;  ">Resend OTP</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="assets/img/recaptcha.png" class="img-responsive">
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-6">

                                                    <a href="#" class="btn btn-simple btn-primary btn-xs pull-left" style="margin-top: 20px; margin-left: -15px;">Forgot Password</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-primary pull-right" id="add_data" style="width: 100%;">Sign-in</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <footer class="footer footer-transparent">
            <div class="container">
<!--
                <div class="copyright">
                    &copy; 2018 Electoral | Powered by Genesis
                </div>
-->
            </div>
        </footer>
        <script type="text/javascript">
            function otpShow(){
                var x = document.getElementById("otpbox");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

        </script>
    </body>
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/material.min.js"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="assets/js/material-kit.js" type="text/javascript"></script>
</html>
