<!DOCTYPE html>
<html>
<head>
    <meta name="Author" content="Rishabh Budhiraja - github.com/rbrishabh"/>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<br>

<a href="/querySearch"><button>Query Search</button></a>
<a href="/queryAdd"><button>Add data</button></a>

</body>
<script src="/configjs.js"></script>
</html>